/* 
    Document   : bitsy
    Created on : 09.12.2012, 16:03:38
    Author     : Stefanie Drost
    Description:
        Contains style elements of Bitsy Framework.
*/

@import 'includes/bitsy_constants.scss';
@import 'includes/bitsy_functions.scss';


body {
    background-color: $mainBackgroundColor;
    margin: 0;
    padding: 0;
}
.bitsy_content, .bitsy_header, .bitsy_footer {
    
    background-color: $contentBackgroundColor;
    border: $contentBorderColor solid 1px;
    width: 100%;
    margin: 0;
    position:relative;
}
.bitsy_content {
    font-family: sans-serif;
}
#bitsy_logo {
    margin: 10px 10px 10px 10px;
}


