/**Form-Style**/
.bitsy-form {
    border: $formBorderColor solid 3px;
    padding: 10px 10px 10px 10px;
    width:auto;
    position:relative;
    float:left;
}
.bitsy-form div{
    padding: 10px 0px 10px 0px;
    position:relative;
    float:none;
}
.bitsy-form fieldset{
    width:auto;
    position:relative;
    float:left;
}
span[class='bitsy-form-label'] {
    float: left;
    width: 150px;
}
input[class='bitsy-form-element'] {
    width: 300px;
}
input[type='submit'] {
    width: 100px;
    float:none;
}